/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--background-color);
  background-image: var(--backgroung-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header_block {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100%;
  }

/*уголки и рек*/

.decorated__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.decorated__rec::before {
  content: "REC";
  color: var(--decorated-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.decorated__rec::after {
  content: "";
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorated-color);
  background: var(--decorated-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
}

/*ноу фокус хедер*/

.header__name {
  color: var(--header-font-color);
  font-weight: 700;
  font-size: var(--header-size-mobile);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--header-font-shadow);
  }

/*описание хедера с бекграундом*/

.header_desc {
  display: flex;
  flex-direction: column;
  color: var(--font-wbg-color);
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 130%;
  background-color: var(--background-text-color);
}

/*список кнопок темы*/

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  color: var(--button-color);
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--button-color);
  outline: none ;
}

.header__theme-menu-button:focus-visible {
  outline: none ;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

/*main*/

.main {
  margin-block-start: 40px;
  padding: 0px 10px;
}

.section {
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 40px;
}

.section_title,
.list_title,
.section_item {
  margin-block-end: 20px;
}

.section_item:last-child {
  margin-block-end: 0px;
}

.section_item_title,
.section_list_title {
  margin-block-end: 10px;
}

.text_style {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130% ;
}

.section_title {
  color: var(--sctiteles-font-color);
}

.section_item_title,
.section_list_title {
  color: var(--titeles-font-color);
  background-color: var(--background-text-color) ;
}

.section_item_text {
  color: var(--section-text-color);
  font-weight: 400;
}

.list_title {
  color: var(--titeles-font-color);
  background-color: var(--background-text-color) ;
}

.section_list_title {
  font-weight: 400;
}

.section_with_images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link_text {
  text-shadow: 1px 1px 0px var(--shadow-link-color);
}

.link_text:hover {
  border-bottom: 1px solid var(--section-text-color);
}

.link_text:focus {
  border: 1px solid var(--section-text-color);
}

.link_text:focus-visible {
  outline: none;
}

/*footer*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer-name {
  color: var(--header-font-color);
  font-weight: 700;
  font-size: var(--header-size-mobile);
  font-style: normal;
  line-height: 82.5%;
  text-align: center;
  text-shadow: 4px 4px 0px var(--header-font-shadow);
}

/*АДАПТИВ ПЛАНШЕТ*/

@media (width >= 768px) {
  
  /*Планшет Шапка*/

  .header {
    padding: 20px;
  }

  .decorated__rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__name {
    display: flex;
    align-items: center;
    margin-inline-start: -20px;
    font-size: var(--header-size-latop) ;
  }

  .header_desc {
    justify-self: end;
    width: clamp(364px, 47.8vw, 491px) ;
  }

/*секции с текстом */

  .main {
    margin-block-start: 60px;
    padding: 0 20px;
  }


  .section {
    margin-block-end: 80px;
  }

  .section:last-child {
    margin-block-end: 72px;
  }

  .section_barview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_title {
    width: clamp(236px, calc(100% / 3.25), 315px) ;
  }

  .row_article_list {
    margin-block-end: 80px;
  }
  
/*секции с изображениями планшет*/

  .section_with_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vw;
    margin-top: 20px;
    grid-gap: 20px;
  }

  .section__image:nth-child(1) {
    grid-column: 1 / 3 ;
    grid-row: 1 / 2;
  }

  .section__image:nth-child(2) {
    grid-column: 3 / 4 ;
    grid-row: 1 / 3 ;
  }

  .section__image:nth-child(3) {
    grid-column: 1 / 2 ;
    grid-row: 2 / 4 ;
  }

  .section__image:nth-child(4) {
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
  }

  .section__image:nth-child(5) {
    grid-column: 2 / 4 ;
    grid-row: 3 / 4 ;
  }

/*ФУТЕР*/

.footer-name {
  font-size: var(--header-size-latop) ;
}

}

/*АДАПТИВ ДЕСКТОП*/

@media (width >= 1024px) {

/*ДЕСКТОП ШАПКА*/

  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-self: baseline;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

/*секции с текстом*/

.main {
  margin-block-start: 60px;
}

  .section_barview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 13px;
    margin-block-end: 80px;
  }

  .section_title {
    width: 31vw ;
  }

  .row_article_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    }

    .row_article_list .section_item {
      flex: 1 1 25vw;
    }

    .section:last-child {
      margin-block-end: 83px;
    }

}
